footer.site-foo
	.l-wrapper.site-foo_wrapper
		.site-foo_copyright.
			© Ecotonica, 2019

		.site-foo_dev
			span.site-foo_dev-label Разработка сайта
			a(href="https://prostordesign.ru/" rel="nofollow").site-foo_dev-link prostor.design