.modal
	.modal_container#done-msg
		.modal_content
			.modal_header
				h2.modal_title Получить прайс
			
			.modal_content-width
				p.modal_text.
					Спасибо за обращение!<br>
					Скоро с вами свяжется наш менеджер

		a(href="#").modal_close

	.modal_overlay