.modal
	.modal_container#interested-modal-1
		.modal_content
			.modal_header
				h2.modal_title Польза хлореллы
				b.modal_subtitle Для интернет-магазинов
		
			.modal_content-width
				p.modal_text.
					Организация и цикл развития хлореллы состоят в 
					следующем: вегетативное тело их состоит из одной 
					шарообразной или овальной клетки с толстой оболочкой, 
					которая по мнению одних авторов (Brandt, Dangeard) 
					состоит из целлюлозы, а по мнению других (Geza-Entz, 
					Фаминцын, Аверинцев и др.) из прозрачного студенистого 
					вещества, лишенного целлюлозы. Такое разногласие во 
					мнениях произошло в силу того, что иногда оболочка 
					хлореллы не дает типичного для целлюлозы фиолетового 
					окрашивания от хлорцинкиода, а потому вопрос этот 
					остается пока открытым. Размеры шарообразных 
					вегетативных клеток колеблются по данным различных 
					авторов от 1,5 мкм до 12 мкм. В каждой такой клетке 
					находится гомогенная протоплазма, очень маленькое.

			.modal_actions
				a(href="#get-price").btn.mopen Получить прайс

		a(href="#").modal_close

	.modal_overlay