.mobile-menu#mobile-menu
	.mobile-menu_container
		ul.mobile-menu_nav
			li.mobile-menu_nav-item: a(href="#").mobile-menu_nav-link Применение
			li.mobile-menu_nav-item: a(href="#").mobile-menu_nav-link Условия поставки
			li.mobile-menu_nav-item: a(href="#").mobile-menu_nav-link Производство
			li.mobile-menu_nav-item: a(href="#").mobile-menu_nav-link Контакты

		ul.mobile-menu_info
			li.mobile-menu_info-item
				+icon("phone")
				a(href="#").mobile-menu_info-link +7 (342) 243-12-14

			li.mobile-menu_info-item
				+icon("mail")
				a(href="#").mobile-menu_info-link info@ecotonica.ru

	a(href="#").mobile-menu_close